<h1 mat-dialog-title>{{ urlInfo.title }}</h1>
<div mat-dialog-content>
  <img [src]=" urlInfo.thumbnail" [alt]=" urlInfo.title"/>
</div>

<div mat-dialog-actions>
  <mat-form-field appearance="fill">
    <mat-label>Download quality</mat-label>
    <mat-select [(ngModel)]="selectedFormat">
      <mat-option *ngFor="let format of  urlInfo.formats" [value]="format">
        {{ getFormatName(format) }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="download()">Download</button>
</div>
